version: "3.9"

services:
  backend:
    build: .
    container_name: agentic_rag_api
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./app:/app/app
    env_file:
      - .env
    restart: unless-stopped

  frontend:
    build: .
    container_name: agentic_rag_streamlit
    command: streamlit run /app/streamlit_app/chat_app.py --server.port 8501 --server.address 0.0.0.0
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
      - ./streamlit_app:/app/streamlit_app
    env_file:
      - .env
    depends_on:
      - backend
    restart: unless-stopped
